<div class= "user-stats board">
  <h1 class="red-button"><%= @user.username %>'s Stats</h1>

  <p>Total Games Played: <%= @games.count %></p>
  <p>Total Valid Sets: <%= valid_sets(@games) %></p>
  <p>Total Invalid Sets: <%= invalid_sets(@games) %></p>
</div>
